@import 'tailwindcss';
@plugin "daisyui";

@import 'tw-animate-css';

@plugin "daisyui/theme" {
  name: "MNotas";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(74% 0.16 232.661);
  --color-primary-content: oklch(97% 0.013 236.62);
  --color-secondary: oklch(48% 0.243 264.376);
  --color-secondary-content: oklch(97% 0.013 236.62);
  --color-accent: oklch(87% 0.006 286.286);
  --color-accent-content: oklch(14% 0.005 285.823);
  --color-neutral: oklch(43% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(70% 0.183 293.541);
  --color-info-content: oklch(35% 0.144 278.697);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.3125rem;
  --size-field: 0.28125rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}


